<div [style.display] = "isLoading?'':'none'" 
  style="background-color:#0b0b0b47; height: 100%; width: 100%; position: fixed; text-align: center; z-index: 1000;">
  <mat-spinner style="margin-top: 25%; margin-left: 50%;" diameter="40"></mat-spinner>
</div>
<mat-toolbar  class="blue">
  <button mat-icon-button class="icon" aria-label="icon-button with home icon">
      <mat-icon>home</mat-icon>
  </button>
  <span>Crop Tool</span>
</mat-toolbar>
<div>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="Container box">
      <h4 class="center">Employee Login</h4>
      <form class="mt-4" #userForm="ngForm" [formGroup] = "userform">
            
            <div class="input-group mb-3">
                <span class="input-group-text blue" id="addon-wrapping"><mat-icon class="blue">account_circle</mat-icon></span>
                <input class="form-control h50" formControlName="email" [(ngModel)]="email" type="email" placeholder="Email" required>
            </div>
            <div  *ngIf="userform.hasError('email', 'email')" class="alert alert-danger" role="alert">
              Enter valid email address
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text blue" id="basic-addon1"><mat-icon class="blue">vpn_key</mat-icon></span>
              <input class="form-control h50" formControlName="password" [(ngModel)]="password" type="password" placeholder="Password" required>
            </div>
            <div  *ngIf="passwordLength.errors?.minlength" class="alert alert-danger" role="alert">
              Password atleast have 6 characters
            </div>
            <!-- <div>
              <mat-checkbox color="primary">Remember Password</mat-checkbox>
            </div> -->
            
                <button type="submit" (click)="login()" class="w100 btn btn-primary" color="primary">Login</button>

              <div class="mt-3 center">
                <label style="font-size: 14px;" >If you dont have account! Click register button</label>
                <a routerLink="/register" routerLinkActive="active">
                <button type="submit"  class="w100 btn btn-primary" color="primary">Register</button></a>
              </div>
                    
  
    </form>
    </div>
  </div>
  <div class="col-md-4"></div>
  </div>
  </div>
  </div>
