<div>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-12">
            <mat-card>
              <mat-card-title >Image editing options</mat-card-title>
            <div class="row mt-2">
                <div class="col-md-3">
                    <button (click)="resetImage()" mat-raised-button class="w100" color="primary">Reset image</button>
                </div>
                <div class="col-md-3  mt-2">
                    <button (click)="toggleContainWithinAspectRatio()" mat-raised-button class="w100" color="primary">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}</button>
                </div>
                <div class="col-md-3 mt-2">
                    <button (click)="zoomOut()" mat-raised-button class="w100" color="primary">Zoom -</button> 
                </div>
                <div class="col-md-3 mt-2">
                    <button (click)="zoomIn()" mat-raised-button class="w100" color="primary">Zoom +</button>
                </div>
              </div>
              <!----------->
              <div class="row mt-3">
                <div class="col-md-2">
                    <label>Rotation Degree</label>
                </div>
                <div class="col-md-4">
                    <input [(ngModel)]="rotation" placeholder="Rotation" type="number" (keyup)="updateRotation()" /> 
                </div>
                
                <div class="col-md-6">
                    <div class="row">
                    <div class="col-md-3">
                        <button (click)="rotateLeft()" mat-raised-button class="w100" color="primary">Rotate left</button>
                    </div>
                    <div class="col-md-3 mt-2">
                        <button (click)="rotateRight()" mat-raised-button class="w100" color="primary">Rotate right</button>
                    </div>
                    <div class="col-md-3 mt-2">
                        <button (click)="flipHorizontal()" mat-raised-button class="w100" color="primary">Flip horizontal</button>
                    </div>
                    <div class="col-md-3 mt-2">
                        <button (click)="flipVertical()" mat-raised-button class="w100" color="primary">Flip vertical</button>
                    </div>
                </div>
                </div>
                
              </div>
             
          
          <!------------row 2-->
          <div class="row mt-3">
            
            <div class="col-md-3">
              <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [imageBase64]="imageRetrivedData"
                [maintainAspectRatio]="true"
                [containWithinAspectRatio]="containWithinAspectRatio"
                [aspectRatio]="4 / 3"
                [resizeToWidth]="256"
                [cropperMinWidth]="128"
                [onlyScaleDown]="true"
                [roundCropper]="false"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                [alignImage]="'left'"
                [style.display]="showCropper ? null : 'none'"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady($event)"
                (loadImageFailed)="loadImageFailed()"
              ></image-cropper>
                
            </div>
            <div class="col-md-3">
              <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />

            </div>

            <div class="col-md-6">
              <img [src]="retrievedImage" [style.border]="retrievedImage ? '1px solid black' : 'none'" width="50%"/>

            </div>
        </div>
        <div mat-dialog-actions>
            <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
            <button mat-raised-button color="primary" [mat-dialog-close]="croppedImage" cdkFocusInitial>Ok</button>
          </div>
        </mat-card>
        </div>
      </div>
    </div>
</div>

